.main-container {
    display: flex;
    flex-direction: column;
    Background-color: #7DF9FF;
}

.headline {
    outline-style: dashed;
    background-color: yellow;
    border-radius: 25px;
    padding: 10px;
    margin: 30px;
}

.center-text {
    text-align:center;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 200%;
}

.italic {
    font-style: italic;
    font-size: 12px;
}


.headerrrr {
    display: flex;
    padding-top: 2%;
    color: black;
    background-color: yellow;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    margin: 30px;
}

.dash-line {
    outline-style: dashed;
    border-radius: 25px;
    padding: 10px;
    margin: 30px;
}

.img {
  width: auto ;
  max-width: 75% ;
  height: auto ;
}

.responsive {
  max-width: 25%;
  height: auto;
}
