.main-container {
    display: flex;
    flex-direction: column;
    Background-color: #7DF9FF;
}

.headline {
    outline-style: dashed;
    background-color: yellow;
    border-radius: 25px;
    padding: 10px;
    margin: 30px;
}

.subheader {
  font-size: 18px;
  text-align:center;
  font-family: 'Courier New', monospace;
  font-weight: bold;

}

.center-text {
    text-align:center;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 200%;
}

.italic {
    font-style: italic;
    font-size: 12px;
}


.headerrrr {
    display: flex;
    padding-top: 2%;
    color: black;
    background-color: yellow;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    margin: 30px;
}

.dash-line {
    outline-style: dashed;
    border-radius: 25px;
    padding: 10px;
    margin: 30px;
}

.img {
  width: auto ;
  max-width: 75% ;
  height: auto ;
  background-size: contain ;
  text-align: center;
  margin: auto;
  display: block;
}

.responsive {
  height: auto;
  display:block;
  max-width: 75%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom:0px;
  margin: 0 auto;
  background-size: contain ;
  text-align: center;
  display: block;
  margin: auto;
}

.chart {
  width: auto ;
  max-width: 90% ;
  height: auto ;
  background-size: contain;
  margin: auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom:0px;
}

