.headline {
    outline-style: dashed;
    background-color: orange;
    border-radius: 25px;
    padding: 20px;
}

.center-text {
    text-align:center;
}

.italic {
    font-style: italic;


.main-container {
    display: flex;
    flex-direction: column;
    Background-color: #f8d18c;
}

.headerrrr {
    display: flex;
    padding-top: 2%;
    color: black;
    justify-content: space-around;
    align-items: center;
    
    outline-style: dashed;
    background-color: orange;
    border-radius: 25px;
    padding: 20px;
}



.icon {
    width: 10%;
    padding-right: 5%;
}

.fa-solid {
    width: 10%;
    padding-right: 5%;
}

Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
